.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e0e0e0;
  position: relative;
}

.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.content {
  overflow-y: auto;
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  min-width: 450px;
  max-width: 540px;
  width: 100%;
}

home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

dashboard {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

profile {
  width: 100%;
  height: calc(100% - 40px);
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard-image {
  border-color: #2e80d3;
}

.personal_profile {
}

.info_container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
}
